<section class="homepage">
  <p class="tagline">
    Dive into our curated collection and uncover stories that captivate,
    thrill, and inspire!
  </p>
  <% randomNineMoviesArray.forEach((element) => { %>
  <ul class="movie-list-item">
    <h3><%= element.title %></h3>
    <li><strong>Release Year:</strong> <%= element.releaseYear %></li>
    <li><strong>Rating:</strong> <%= element.rating %>/10</li>
    <li><strong>Description:</strong> <%= element.description %></li>
    <li>
      <a href="/movie/<%=element.id %>">Explore Movie</a>
    </li>
  </ul>
  <% }) %>
</section>
