<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">

</head>
    <body style="display: flex; flex-direction: column; padding:10px;">
    <%- include('header') %>
    <h1>Top Rated <%=topRatedFifteen.length%></h1>
    <% topRatedFifteen.forEach((element)=>{%>
        <ul style="list-style-type: none; padding-bottom: 20px; background-color: rgb(47, 47, 91); border-radius: 10px; box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.463);">
            <h3><%= element.title%></h3>
            <li><strong>Release Year:</strong> <%= element.releaseYear%></li>
            <li><strong>Rating: </strong>       <%= element.rating%>/10</li>
            <li style="width: 80%;"><strong>Description:</strong> <%= element.description%></li>
            <li style="padding-top: 30px; text-decoration: none;">
            <a style="border-radius: 5px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; background-color: rgba(62, 62, 63, 0.607); text-decoration: none;  color: white;" 
            href="/movie/<%=element.id %>">Explore Movie</a></li>
        </ul>
   <% })%>
    

</body>
</html>