<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">

</head>
    <body style="display: flex; flex-direction: column; padding:10px;">
    <%- include('header') %>
    <h1>Top Rated <%=topRatedFifteen.length%></h1>
    <% topRatedFifteen.forEach((element)=>{%>
        <ul style="padding-bottom: 20px; background-color: rgb(47, 47, 91); border-radius: 10px; box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.463);">
            <h3><%= element.title%></h3>
            <li><%= element.releaseYear%></li>
            <li><%= element.rating%></li>
            <li style="width: 80%;"><%= element.description%></li>
        </ul>
   <% })%>
    

</body>
</html>